/* Title */
body{
    margin: 0% 0% 0% 0%;
}
.backimg{
    z-index: 0;
    
}
p{
    color: rgb(252, 195, 8);
}
#title-section{
    background-color: #101820FF;
    padding: 3% 15%;
}
@media (min-width: 1000px){
    .title-icon{
        display: none;
    }
}
@media (max-width: 1000px){
    .title-img{
        display: none;
    }
    .title-icon{
        display: inline-flex;
        padding-bottom: 2%;
        color: rgb(206, 117, 0);
    }
    .title-img-div{
        padding: 5% 0%;
    }
}

.title-heading{
    font-size: 3rem;
    font-family: 'Patua One';
    margin-top: 2%;
}
.title-quotes{
    font-family: 'Courgette';
    font-size: 2rem;
    line-height: 2;
    text-align: justify;
}
.title-para-div{
    margin-top: 10%;
}
.title-left-img{
    height: 280px;
    width: 380px;
    border-radius:100px;
    margin-left: 30%;
    align-items: center;
    margin-top: 10%;   
}
@media (max-width: 1000px){
    .title-left-img{
        margin-left: 25%;
    }
}
@media (max-width: 750px){
    .title-left-img{
        margin-left: 17%;
    }
}
@media (max-width: 645px){
    .title-left-img{
        margin-left: 10%;
    }
}
@media (max-width: 550px){
    .title-left-img{
        margin-left: 5%;
    }
}
.title-img{
    width: 307px;
    height: 149px;
    margin-top: 20px;
    padding: 10% 10%;
    padding-bottom: 1%;
    border-radius: 30rem;
}

.title-droping{
    align-content: center;
    margin-top: 3%;
}
.title-droping{
    text-align: center;
}
.icon-change-ic{
    color: whitesmoke;
}
.icon-change{
    color: blanchedalmond;
}
.title-button{
color: rgb(187, 166, 126);
font-family: 'Kanit';
font-size: 1.6rem;
margin-bottom: 5%;
}
@media (max-width: 1250){
    .title-button{
        margin-left: 25%;
    }
}
.title-button:hover{
    color: rgb(255, 237, 204);
}

.title-button{
    width: 75%;
    margin: auto;
}

.title-quotes{
    font-size: 40px;
    line-height: 1.5;
}

    
/* up-arrow */

.up-arrow-right{
    float: right; 
    margin-top: 2%;    
    margin-right: 50px;
    color: rgb(192, 76, 76);    
  }
  .up-arrow-right:hover{
    color: rgb(255, 56, 56);
  }
  /* Breed-section */

.breed-whole-div{
    background-color: cornsilk;
}
.dogsbreed{
    margin-top: 3%;
    margin-bottom: 2.5%;
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 3rem;
    margin-left: 100px;
}
.breed-bg-div{
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
}
.card{
    margin-right: 30px;
    margin-bottom: 50px;
}
.card-header{
    text-align: center;
    font-family: 'Arvo';
}
.card-body{
    text-align: center;
}
.breed-img{
    
}
/* food-section */

.food-whole-div{
    background-color:#101820FF;
}
.food-heading,.toy-heading{
    margin-top: 3%;
    margin-bottom: 2.5%;
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 3rem;
}
.pricing-card-body{
    background-color: rgb(219, 219, 219);
}

.pricing-button{
    align-items: center;
    margin-left: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Bree Serif';
}
.pricing-button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: none;
}
.card-text{
    color: rgb(0, 0, 0);
    font-family: 'PT Sans Narrow';
    font-size: 1.4rem;;
}
.pricing-imgs{
    align-content: center;
}
.pricing-img1 {
    height: 225px; 
    width: 70%;
    margin-left: 50px;
    margin-bottom: 5%;
    margin-top: 5%;
}
@media (max-width:1000px){
    #food-section .pricing-img1{
        padding: 0% 14%;
        margin-left: 13.5%;
    }    
    .up-arrow-right{
        margin-right: 10px;
        color: rgb(255, 56, 56);
      }
}
@media (max-width:485px){
    .title-left-img {
        margin-left: -5%;
    }
}

@media (max-width: 770px){
    .food-whole-div{
        padding: 10% 20%;
        
    }
    .toy-whole-div{
        padding: 18% 35%;
        background-color: violet;
    }
}
@media (max-width: 1300px){
    .card-header{
        font-size: medium;
        font-family: 'Bree Serif';
    }
}
/* toy-section */
.toy-whole-div{
    background-color: cornsilk;
    padding: 3% 15%;
}
.toy-img{
    width: 200px; 
    height: 250px;
    padding: 5% 5%;
}
.toy-para-pro{
    text-align: center;
    padding-bottom: 0%;
}
.toy-pricing-button-6{
    margin-top: 10%;
    margin-left: 10%;
    color: black;
    font-family: 'Bree Serif';
}
.toy-pricing-button-12{
    margin-top: 3%;
    margin-left: 40%;
    color: black;
    font-family: 'Bree Serif';
}
@media (max-width: 1000px){
    .toy-pricing-button-6{
        margin-left: 120%;
        padding-bottom: 1%;
    }
    .toy-pricing-button-12{
        margin-left: 120%;   
    }
}
@media (max-width: 670px){
    .toy-pricing-button-6,.toy-pricing-button-12{
        margin-left: 80%;
    }
}
@media (max-width: 410px){
    .toy-pricing-button-6,.toy-pricing-button-12{
        margin-left: 40%;
    }
}
@media (max-width: 585px){
    .toy-img{
        margin-left: 80%;
    }
}
.product-padding{
    padding: 1% 17%;
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
}

@media (min-width: 208px){
    .d-md-block {
        display: block!important;
        align-items: center;
    }
   
}
@media (max-width: 770px){
    .toy-img{
        margin-left: 25%;
    } 
}
@media (max-width: 490px){
    .toy-img{
        margin-left: 0%;
    } 
}
@media (max-width: 1000px){
    .product-padding{
        padding: 0 0;
    }  
}
@media (max-width: 770px){
    .toy-whole-div{
        padding: 8% 20%;

    }
}
/* footer-section */
.cpy-footer{
    color: black;
    font-family: cursive;
    text-align: center;
    margin-top: 1%;
    font-weight: bolder;
}
.cpy-footer:hover{
    color: rgb(255, 34, 107);
}